@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&family=Playfair+Display:wght@800&display=swap');

:root{
    --primary-color: #202020;
    --secondary-color: #f4f7fc;
    --grey: #a6a6a6;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    color: var(--primary-color);
    margin: 1.6rem 0;
}

p{
    font-weight: 400;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1{
    font-size: 4rem;
}

@media screen and (max-width: 768px){
    h1{
        font-size: 3rem;
    }
}

h2{
    font-size: 3rem;
    letter-spacing: 1.5px;
}

h3{
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

h4{
    font-size: 1.6rem;
}

span{
    color: var(--grey);
    font-size: 1.5rem;
    font-weight: 500;
}

a{
    text-decoration: none;  
    margin: 1.6rem 0; 
    color: var(--grey);
    font-size: 1.6rem;
    border-bottom: 2px dotted var(--primary-color);
}

.site-container{
    width: 80%;
    margin: 0 auto;
    /* background-color: red; */
}

img{
    max-width: 100%;
    height: auto;
}

hr{
    margin: 16px 0;
}

/* Navigation */
nav{
    position: relative;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
}

nav .menu a{
    border-bottom: none;
    color: var(--primary-color);
    font-weight: 700;
    margin-left: 24px;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 768px){
    .mobile-menu{
        display: block;
        font-size: 24px;
    }

    .menu{
        position: absolute;
        /* background-color: red; */
        width: 100%;
        top: 100%;
        z-index: 99;
        display: none;
    }

    .menu a{
        /* background-color: orange; */
        padding: 32px 0;
        font-size: 18px;
        display: block;
    }

    .show{
        display: block;
    }
}


/* Hero Section */
.hero{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.hero .left{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    /* background-color: green; */
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .right{
    background-color: rgb(84, 236, 203);
}

.hero .content-box{
    /* border: 2px solid black; */
    position: absolute;
    background-color: #fffffc;
    padding: 20px;
    width: 35%;
    top: 50%;
    left: 65%;
    transform: translate(-40%,-50%);
    opacity: 0.8;
}

@media screen and (max-width: 768px){
    .hero{
        grid-template-columns: 1fr;
    }

    .hero .content-box{
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%,-50%);
    }
}

/* Blog */
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 40px;
    gap: 40px;
}

.blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}

.blog .thumbnail{
    object-fit: contain;
}

.blog-post{
    background-color: var(--secondary-color);
    margin: 24px 0;
    padding: 16px;
}

.blog-content{
    margin-top: 24px;
}

.pagination{
    display: inline-block;
}

.pagination .active{
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

.pagination a{
    color: var(--primary-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 0;
}

@media screen and (max-width: 768px){
    .blog{
        grid-template-columns: 1fr;
    }
}

/* Aside */
.wrapper{
    display: flex;
    align-items: center;
}

.wrapper .thumb{
    flex: 1;
}

.wrapper .content{
    flex: 2;
    padding: 16px;
}

.wrapper p, span, a{
    font-size: 1.4rem;
    margin: 0;
}

@media screen and (max-width: 768px){
    .site-container{
        width: 100%;
        padding: 0 24px;
    }

    main{
        grid-template-columns: 1fr;
    }

    .wrapper{
        margin: 24px 0;
    }

}